In [1]:
import pandas as pd

In [8]:
df = pd.read_csv("11.txt", sep="\s")

C:\Windows\Temp\ipykernel_100856\3314308924.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv("11.txt", sep="\s")

In [9]:
df

          t         v
0       0.0  0.000320
1       0.2  0.000320
2       0.4  0.000320
3       0.6  0.000320
4       0.8  0.000320
...     ...       ...
3507  701.4  0.000249
3508  701.6  0.000249
3509  701.8  0.000249
3510  702.0  0.000249
3511  702.2  0.000249

[3512 rows x 2 columns]

In [10]:
df[0:345] = df[0:345] + 0.000059126

In [11]:
df[1188:1556] = df[1188:1556] + 0.000019206

In [12]:
df[2079:2255] = df[2079:2255] + 0.00015224 - 0.000136164

In [13]:
df[2820:3023] = df[2820:3023] + 0.00014145 - 0.000136164

In [15]:
df.to_excel("11.xlsx", index = False)